.form-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  gap: 25px;
}

.form {
  max-width: 300px;
  background-color: var(--White);
  padding: 30px 30px;
  display: grid;
  gap: 20px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 9px 15px -2px rgba(0, 0, 0, 0.29);
  transition: all 0.2s ease-in;
}

.form:hover {
  transform: scale(1.01);
}

.form-field {
  display: grid;
}

.form-field label {
  font-weight: 300;
  letter-spacing: 1px;
}

.submit-area {
  display: flex;
  justify-content: space-between;
}

.submit-area a {
  cursor: pointer;
  height: 15px;
  font-weight: 500;
  text-decoration: none;
  color: var(--Black);
}

.form-btn {
  width: 100px;
  height: 40px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--White);
  background-color: var(--Black);
  border: none;
  letter-spacing: 1px;
  transition: all 0.1s ease-in;
}

.form-btn:hover {
  background-color: var(--Red);
}

.form-btn:active {
  background-color: var(--Red);
}

.googleButton {
  width: 360px;
  height: 50px;
  -webkit-box-shadow: 0px 9px 15px -2px rgba(0, 0, 0, 0.29);
  background-color: var(--White);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.1s ease-in;
}

.googleButton:hover {
  background-color: var(--GoogleBlue);
  color: var(--White);
}

.text-contain {
  display: flex;
  width: 360px;
  justify-content: space-around;
  color: var(--Red);
}

.reset-link:hover{
  color: var(--Accent);
}