.form-field {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.form-field-error {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.error-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.error-container-disabled {
  margin-top: 10px;
}

.label {
  color: black;
  font-weight: bold;
}

.label-error {
  color: var(--Red);
}

.error-container p {
  color: var(--Red);
}

.error-icon {
  color: var(--Red);
}

.error-icon-disabled {
  color: transparent;
}

.form-field label {
  font-weight: 300;
  letter-spacing: 1px;
}

.form-field input {
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 0px 9px 15px -2px rgba(0, 0, 0, 0.29);
  focus: none;
  letter-spacing: 1px;
  max-width: 300px;
}

.form-field input:focus {
  outline: none;
}