.alert-banner {
  border-left: 4px solid var(--Green);
  background-color: var(--LightGreen);
  height: 25px;
  color: var(--Green);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;
}

.message {
  margin-left: 10px;
}

.icon {
  cursor: pointer;
}

.icon :hover {
  color: black;
}

.alert-banner-error {
  border-left: 4px solid var(--Accent);
  background-color: var(--AccentLight);
  height: 25px;
  color: #d30a0a;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;
}
